<%= simple_form_for([:admin, @order]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :city %>
    <%= f.input :delivery_method %>
    <%= f.input :pay_method %>
    <%= f.input :order_comment %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
