<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tr class="active">
    <th>№</th>
    <th>Стоимость</th>
    <th>Заказчик</th>
    <th>Номер телефона</th>
    <th>Город</th>
    <th>Товары</th>
    <th>Дата заказа</th>
    <th>Статус</th>
    <th></th>
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <th><%= o.id %> </th>
    <th><%= o.total_price %></th>
    <th><%= o.fullname %></th>
    <th><%= o.phone %></th>
    <th><%= o.city %></th>
    <th><%= o.items.count %> ед.</th>
    <th><%= o.created_at.strftime("%H:%M %d.%m.%y") %></th>
    <% if o.status == "0" %>
      <th><span class="label label-warning">Форма связи</span></th>
    <% elsif o.status == "1" %>
      <th><span class="label label-danger">Новый заказ</span></th>        
    <% else %>
      <th>Неизвестный статус</th>
    <% end %>
    <th><%= link_to "Просмотр", admin_order_path(o) %> <%= link_to "Статус", admin_order_path(o) %> <%= link_to "Удалить", admin_order_path(o), method: :delete, data: {confirm: "Подтвердите действие удаления заказа"} %></th>
  </tr>
  <% end %>
</table>