<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr class="active">
    <th>№ заказа</th>
    <th>Заказчик</th>
    <th>Город</th>
    <th>Номер телефона</th>
    <th>Кол-во товаров</th>
    <th>Дата</th>
    <th>Опции</th>
  </tr>
  <% @orders.each do |o| %>
  <tr>
    <th><%= o.id %> </th>
    <th><%= o.fullname %></th>
    <th><%= o.city %></th>
    <th><%= o.phone %></th>
    <th><%= o.items.count %></th>
    <th><%= o.created_at %></th>
    <th><%= link_to "Удалить", order_path(o), method: :delete %></th>
  </tr>
  <% end %>
</table>