<p id="notice"><%= notice %></p>

<h2 style='text-align: center;'><%= link_to 'Назад', admin_orders_path, class: 'btn btn-default' %> <b>Заказ № <%= @order.id %></b> <%= link_to 'Редактировать', edit_admin_order_path(@order), class: 'btn btn-warning' %> <%= link_to 'Удалить', admin_order_path(@order), class: 'btn btn-danger', method: :delete, data: {confirm: 'Подтвердите действие удаления запроса'} %>
</h2>
<br />

<table class="table table-bordered">
  <tr class="active">
    <th>Заказчик</th>
    <th>Номер телефона</th>
    <th>Город</th>
    <th>Стоимость</th>
    <th>Статус</th>
  </tr>
  <tr>
    <td><%= @order.fullname %></td>
    <td><%= @order.phone %></td>
    <td><%= @order.city %></td>
    <td><%= @order.total_price %></td>
    <% if @order.status == "0" %>
      <td><span class="label label-warning">Форма связи</span></td>
    <% elsif @order.status == "1" %>
      <td><span class="label label-danger">Новый заказ</span></td>        
    <% else %>
      <td>Неизвестный статус</td>
    <% end %>
  </tr>
</table>

<div class="row">
  <div class="col-md-4">
    <h3 style='text-align: center;'>Дополнительная информация</h3>
    <table class="table table-bordered">
      <tr class="active">
        <th>Почта</th>
        <td>@order.email</td>
      </tr>
      <tr>
        <th>Способ доставки</th>
        <td><%= @order.delivery_method %></td>
      </tr>
      <tr>
        <th>Способ оплаты</th>
        <td><%= @order.pay_method %></td>
      </tr>
      <tr>
        <th>Комментарии</th>
        <td><%= @order.order_comment %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-8">
    <h3 style='text-align: center;'>Корзина заказчика № <%= @cart_id[0] %></h3>
    <table class="table table-bordered">
      <tr class="active">
        <th>№</th>
        <th>Наименование</th>
        <th>Цена</th>
      </tr>
      <tr>
      <% @order.items.each do |i| %>
        <td><%= i.id %></td>
        <td><%= i.name %></td>
        <td><%= i.price %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>