<br />
<div class="row">
	<!-- Left side -->
  <div class="col-md-7">
    <% if @items.count > 0 %> 
  	<h2 style="text-align: center;">Вы добавили в корзину: </h2>
  		<% @items.each do |item| %>
  			<div class="well well-lg">
  	   		<p><%= item['name'] %></p>
  	   		<p>Описание: <%= item['description'] %></p>
          <p>Цена: <%= item['price'] %></p>
          <p><%= link_to "Удалить из корзины", "/cart/remove/#{item.id}", method: :delete %></p>
  	   	</div>
  	  <% end %>
    <% else %>
      <div id='empty_cart_alert' class="alert alert-warning" role="alert"><p style='text-align: center;'>Вы не добавили ни одного товара в корзину<br /><%= link_to "Выбрать товары", items_path %></p></div>
    <% end %>
  </div>
  <%= render partial: 'carts/cart_info' %>
</div>
