<p id="notice"><%= notice %></p>

<h3><b>Категория: Apple</b></h3>
<h4>Всего найдено товаров: <%= @items.count %></h4>

<br />
<div class="row">
<% @items.each do |i| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%= url_to_image(i.image) %>    
      <div class="caption">
        <h3><%= link_to i.name, item_path(i) %></h3>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render partial: 'visited_items' %>