<div><h1><%= @item.name %></h1></div>
<br />

<div class="row">
  <div class="col-md-5"><p text-align="center;"><%= "Тут будет картинка" %></p></div> 
  <!-- #image_tag @item.photo.url(:large) -->
  <div class="col-md-7">
    <div class="panel panel-default">

      <div class="panel-body">
        
        <% if @item.available %>
          <h3><span class="label label-success">Товар в наличии</span></h3>
        <% else %>
          <h3><span class="label label-danger">Нет в наличии</span></h3>
        <% end %>

        <h3>Цена: <%= @item.price %></h3>
        <h3> О товаре: </h3>
        <%= @item.description %>

      </div>
      <div class="panel-footer">

        <div class="row">
          <div class="col-md-7"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Рейтинг: 0 </button>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>

          </div>
          <div class="col-md-2"><%= link_to "Вернуться", root_path, class: "btn btn-default" %></div>
          <div class="col-md-1">
            <% if @item.available %>
              <%= button_to "В корзину", "/cart/add/#{@item.id}", method: :post %>
            <% else %>
              <%= button_to "Нет в наличии", "/#", class: "btn btn-danger", disabled: "disabled", method: :get %>
            <% end %>
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>

    </div>
  </div>
</div>
<hr>

<br />